// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap';
// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap';


/**Navigation*/
ul#menu-main-menu {
  margin-left: 90px;
  font-size: .85rem;
  color: rgba(84, 84, 84, 1);


  a.nav-link {
    padding-left: 40px;
  }
}

section {
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)),url("http://localhost:8888/hopsietest/wp-content/uploads/2022/03/floatrock-1024x682-1.jpg");
}

.cta-button {
  margin-top: 20px;
  margin-bottom: 1.25em;

}
#cta-title {
  margin-top: 1em !important;
}



/**Footer*/
.footer-light {
  padding:35px 0;
  background-color: #ffffff;

}

.footer-light h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
  color: rgba(84, 84, 84, 1);

}
.footer-brand{
  margin-left: 100px;
}

.footer-light ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-light ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-light ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-light .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}
hr.solid{
 margin-top: 35px;
}
.hp-copyright{
  font-size: 12px;
  color: rgba(84, 84, 84, 1);
}
